<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Réinitialisation du mot de passe</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">La clef de réinitilisation est manquante</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Choisir un nouveau mot de passe</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>Votre mot de passe n'a pas pu être réinitialisé. La demande de réinitialisation n'est valable que 24 heures.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Votre mot de passe a été réinitialisé.</strong> Merci de </span>
        <a class="alert-link" routerLink="/login">connecter</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Le nouveau mot de passe et sa confirmation ne sont pas égaux !</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">Nouveau mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nouveau mot de passe"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required"
                >Votre mot de passe est requis.</small
              >

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                >Votre mot de passe doit comporter au moins 4 caractères.</small
              >

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                >Votre mot de passe ne doit pas comporter plus de 50 caractères.</small
              >
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirmation du nouveau mot de passe"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                >Votre confirmation du mot de passe est requise.</small
              >

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                >Votre confirmation du mot de passe doit comporter au moins 4 caractères.</small
              >

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                >Votre confirmation du mot de passe ne doit pas comporter plus de 50 caractères.</small
              >
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">
            Réinitialiser le mot de passe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
